{# src/_includes/post.njk #}
{% extends "base.njk" %}

{% block content %}
<article class="container post-content">
    <h1>{{ title }}</h1>
    <div class="post-meta">
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
        {# Add author etc. if available in front matter: - By {{ author }} #}
    </div>

    {# The actual post content, processed from Markdown #}
    {{ content | safe }}

</article>
{% endblock %}