{# macros/post-card.njk #}
{% macro postCard(post, size = "small") %}
  <article class="post-card post-card--{{ size }}">
    {# … image & title markup … #}

    {% if post.data.excerpt %}
      <p class="post-card__excerpt">
        {% if size == "large" %}
          {{ post.data.excerpt | truncate(300) }}
        {% else %}
          {{ post.data.excerpt | truncate(100) }}
        {% endif %}
      </p>
    {% endif %}

    {# … date markup … #}
  </article>
{% endmacro %}
