{# _includes/partials/post-card.njk #}
{# Expects a 'post' object passed in #}
<article class="post-preview">
  <a href="{{ post.url | url }}" class="post-preview__link">
    {% if post.data.featuredImage %}
      <div class="post-preview__image-container">
        <img src="{{ post.data.featuredImage | url }}" alt="{{ post.data.imageAlt or post.data.title }}" class="post-preview__image">
      </div>
    {% endif %}
    <div class="post-preview__content">
      <h2 class="post-preview__title">{{ post.data.title }}</h2>
      {% if post.data.excerpt %}
        {# Optionally display excerpt only for featured? Add logic here or in CSS #}
        <p class="post-preview__excerpt">{{ post.data.excerpt }}</p>
      {% endif %}
      <time datetime="{{ post.date | htmlDateString }}" class="post-preview__date">{{ post.date | readableDate }}</time>
    </div>
  </a>
</article>